<!DOCTYPE html>
<html lang="en" :data-theme='styles.theme' scope>
    <head>
        <headers/>
    </head>
    <body :class="styles.theme"> 
        <slot/>
        
        <script s-attr="nonce">
            document.addEventListener("DOMContentLoaded", function() {
                var stylesheets = [
                    'https://cdn.jsdelivr.net/npm/@docsearch/css@3',
                    'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css'
                ];
            
                stylesheets.forEach(function(href) {
                    var link = document.createElement('link');
                    link.rel = 'preload';
                    link.as = 'style';
                    link.href = href;
                    
                    link.onload = function() {
                        this.rel = 'stylesheet';
                    };
            
                    document.head.appendChild(link);
                });
            });
        </script>
        <scripts/>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FQLSJYH3LD" s-attr="nonce"></script>
        <script s-attr="nonce">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-FQLSJYH3LD');
        </script>
    </body>
</html>