<!DOCTYPE html>
<html lang="en" data-theme='dark' class="dark">
    <head>
        <headers/>
    </head>
    <body scope> 
        <slot/>
        
        <script s-attr="nonce">
            document.addEventListener("DOMContentLoaded", function() {
                var stylesheets = [
                    'https://cdn.jsdelivr.net/npm/@docsearch/css@3',
                    'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css'
                ];
            
                stylesheets.forEach(function(href) {
                    var link = document.createElement('link');
                    link.rel = 'preload';
                    link.as = 'style';
                    link.href = href;
                    
                    link.onload = function() {
                        this.rel = 'stylesheet';
                    };
            
                    document.head.appendChild(link);
                });
            });
        </script>
        <scripts/>
    </body>
</html>