<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <headers/>
        <script src="https://unpkg.com/vue@3.5.12/dist/vue.global.prod.js"></script>
        <script src="/assets/tailwind.min.js"></script>
        <script>
            tailwind.config = {
                darkMode: 'class',
            }
        </script>
        <scripts/>
    </head>
    <body class="bg-neutral-100 dark:bg-neutral-900">
        <slot/>

        <script s-attr="nonce">
            document.body.style.display = 'none';

            document.addEventListener("DOMContentLoaded", function() {
                var stylesheets = [
                    'https://cdn.jsdelivr.net/npm/@docsearch/css@3',
                    'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css'
                ];

                stylesheets.forEach(function(href) {
                    var link = document.createElement('link');
                    link.rel = 'preload';
                    link.as = 'style';
                    link.href = href;

                    link.onload = function() {
                        this.rel = 'stylesheet';
                    };

                    document.head.appendChild(link);
                });

                checkForVue();
            });

            function checkForVue() {
                if (window.Vue) {
                    document.body.style.display = 'block';
                } else {
                    requestAnimationFrame(checkForVue);
                }
            }
        </script>

        <!-- Google tag (gtag.js) -->
        <script s-attr="nonce">
            document.addEventListener("DOMContentLoaded", function() {
                var script = document.createElement('script');
                script.async = true;
                script.src = 'https://googletagmanager.com/gtag/js?id=G-FQLSJYH3LD';
                document.head.appendChild(script);

                script.onload = function() {
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', 'G-FQLSJYH3LD');
                };
            });
        </script>
    </body>
</html>
